  <div class="container">
    <div class="bg-img">
      <div class="form">
    <h1>CREATE YOUR OWN</h1>
    <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: 'btn btn-ghost', id: 'back-btn' %>
    <%= link_to 'Back', cocktails_path, class: 'btn btn-ghost', id: 'back-btn' %>
    <% end %>
    </div>

  </div>
  </div>
